body{
    background-color: #d8d8d8 !important;
}


.card-info{
    background-color: #002b3c !important;
    color: white;
}


.add_product{
    display: grid !important;
    gap: 2%;
    padding-bottom: 10% !important;
    background-color: #002b3c !important;
    color: white;
}

.grid-products{
    display: grid;
    width: 100%;
    justify-items: center;
}


.product{
    width: 100% !important;

}

@media (max-width: 2000px) { 
    .add_product{
        grid-template-columns: repeat(7, 1fr) !important;
        grid-template-rows: auto;
        align-items: center !important;
        justify-items: center !important;
        padding-bottom: 1% !important;
    }
    .grid-products{
        grid-template-columns: repeat(5, 1fr);
        padding-top: 5px;
        gap: 5px;
    }
}

@media (max-width: 1600px) {
    .add_product{
        grid-template-columns: repeat(7, 1fr) !important;
        grid-template-rows: auto;
        align-items: center !important;
        justify-items: center !important;
        padding-bottom: 1% !important;
    }
    .grid-products{
        grid-template-columns: repeat(5, 1fr);
        padding-top: 5px;
        gap: 5px;
    }
}

@media (max-width: 1200px) {
    .add_product{
        grid-template-columns: repeat(7, 1fr) !important;
        grid-template-rows: 1fr;
        align-items: center !important;
        justify-items: center !important;
        padding-bottom: 1% !important;
    }
    .grid-products{
        grid-template-columns: repeat(4, 1fr);
        padding-top: 5px;
        gap: 5px;
    }
}

@media (max-width: 760px) {
    .add_product{
        grid-template-columns: 1fr !important;
        grid-template-rows: auto;
        padding-bottom: 10% !important;
        align-items:center !important;
        justify-items: flex-start !important;
    }
    .input_product{
        width: 100% !important;
    }
    .grid-products{
        grid-template-columns: 1fr;
        padding-top: 2%;
        gap: 2%;
    }
}