html{
    display: grid;
    justify-items: center;
}
body{
    background-color: #d8d8d8 !important;
    display: grid;
    width: 80%;
    justify-items: center;
}


.card-info{
    background-color: #002b3c !important;
    color: white;
}


.add_product{
    background-color: #002b3c !important;
    color: white !important;
}



@media (max-width: 2000px) { 
    .add_product{
        grid-template-columns: 1fr !important;
        justify-items: flex-start;
    }
    .add_product input{
        width: 100% !important;
    }
    .add_product input[type=submit]{
        margin-top: 5% !important;
    }
}

@media (max-width: 1600px) {
    .add_product{
        grid-template-columns: 1fr !important;
        justify-items: flex-start;
    }
    .add_product input{
        width: 100% !important;
    }
    .add_product input[type=submit]{
        margin-top: 5% !important;
    }
}

@media (max-width: 1200px) {
    .add_product{
        grid-template-columns: 1fr !important;
        justify-items: flex-start;
    }
    .add_product input{
        width: 100% !important;
    }
    .add_product input[type=submit]{
        margin-top: 5% !important;
    }
}

@media (max-width: 760px) {
    body{
        width: 95%;
    }
    .add_product{
        grid-template-columns: 1fr !important;
        grid-template-rows: auto;
        padding-bottom: 10% !important;
        align-items:center !important;
        justify-items: flex-start !important;
    }
    .input_product{
        width: 100% !important;
    }
    .grid-products{
        grid-template-columns: 1fr;
        padding-top: 2%;
        gap: 2%;
    }
    .add_product input[type=submit]{
        margin-top: 5% !important;
    }
}